<h1>About Us...</h1>
<br>
<p>
	<%= @about_me %>
</p>

<p>
	<%= "I'm a computer engineering student and a self-paced learner who loves to do research and learn new things every day. Committed to successful project rollouts with the ability to work with all types of personalities. Proud team player." %>
</p>

<p>
	Connect with me: 
	<%= link_to "GitHub", @GitHub, class:"btn btn-outline-primary btn-sm" %>
	<%= link_to "LinkedIn", @LinkedIn, class:"btn btn-outline-primary btn-sm" %>
	<%= link_to "Twitter", @Twitter, class:"btn btn-outline-primary btn-sm" %>
</p>