<div class="jumbotron">
  <h1 class="display-4">
    <%= @friend.first_name%>
    <%= @friend.last_name%>
  </h1>
  <p class="lead">
    <%= @friend.email%> |
    <%= @friend.phone%> |
    <%= @friend.twitter%> 
  </p>
  <br>
  <div>
  <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-secondary" %> 
  <%= link_to "Back", friends_path, class: "btn btn-secondary" %>
</div>
<br>
<%= button_to 'Delete', @friend, method: :delete, class: 'btn btn-danger'%>
  </div>
